<html>

  <head>
    <title>Spirit Bomb</title>

    <!-- Load angular -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>

    <!-- Load angular payments -->
    <script src="libs/angular-payments/lib/angular-payments.js"></script>

    <!-- USING ANGULAR UI BOOTSTRAP HERE -->
    <!-- <script src="./angular-ui-bootstrap"></script> -->

    <script src="./app/app.js"></script>
    <script src="./app/controllers.js"></script>
    <script src="./app/services.js"></script>
    <!-- Stripe stuff -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <!-- styling -->
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>


  <body ng-app='spiritBomb' ng-controller='mainCtrl'>

<div id="headerBar">

    <!-- STARTING POINT FOR MODAL!!!!!!! Sleep well :) -->
    <a class="navBarItem" data-toggle="modal" href=>Login</a>
    <a class="navBarItem">Forum</a>
    <a class="navBarItem">Archives</a>
    <a class="navBarItem">About</a>
    <img class="sidebarImg" id="topImg" src="assets/SpiritBombAlone.jpeg"><h1 id='appTitle'>Spirit Bomb <small>Crowdfunding. Concentrated.</small></h1>
</div>

  <div id="navBar">

  </div>

  <hr />


  <div id="opponentContent">
    <!--placeholder for opponent code -->
    
    <h2><strong>Currently Featured:</strong></h2>

   
    <div id="opponentBox">
      <div id="opponentHead">


      <!--<h3 id="opponentTitle"><strong>Help us purchase the SpiritBomb.com domain name!</strong></h3>
      <img class="sidebarImg" id="opponentImg" src="assets/domainPricePic.png">
      <br/>
      <br/> -->
      </div>
      
      <!-- Ideally, the text below will be generated/persisted through our database that generates the topic/theme being contributed to. A photo the the topic and the text body 



      <p class="opponentText">We're looking to set up shop at SpiritBomb.com (it just has that ring to it; you know?) and need your help in buying the domain! As of now, the domain is priced at $3,199 (with tax, that will exceed $3200). From the purchase of the domain onwards, all content featured as subjects for SpiritBombs will be community led/voted initiatives.</p> 
      <p class="opponentText">First, we're looking to raise $160, so that the kind people of earth will raise their hands! Please consider contributing to help us meet our goal.</p>

      -->
        
    </div>

    <h2>Hands Raised: ${{ amountRaised }} of ${{ opponentValue }}</h2>

    <br>
    <br>
    <!--comment box code -->
    <div id="commentArea" ng-controller='commentsCtrl'>
    <h3>Comments:</h3>
    <div id="commentBox">
      <p ng-repeat="comment in comments" ng-click="deleteComment($index)">{{ comment }}</p>
    </div>
    
    <input type="text" placeholder="Comments" class="textAreas" ng-model="inputText"></input>
    <input type="submit" class="submission" ng-click="postComment()"></input>
    <br>
    <br>
    <br>
    <br>
    <hr/>

    <!-- Placeholder for signup functions -->
      <div>
    <p>Sign-Up Functionality Placeholder:</p>
  <input type="text" placeholder="First Name" class="textAreas" ng-model="firstname"></input>
  <input type="text" placeholder="Last Name" class="textAreas" ng-model="lastname"></input>
    <input type="text" placeholder="Email" class="textAreas" ng-model="eMail"></input>
    <input type="password" placeholder="Password" class="textAreas" ng-model="pw"></input>
    <input type="submit" class="submission" ng-click="postUser()"></input>
    

    <!-- Placeholder for signin functions -->
    <br>
    <p>Sign-in Functionality Placeholder:</p>
    <input type="text" placeholder="Email" class="textAreas" ng-model="inputEmail"></input>
     <input type="password" placeholder="Password" class="textAreas" ng-model="inputPW"></input>
    <input type="submit" class="submission" ng-click="checkUser()"></input>

    <br>
    <br>

  </div>

    </div>
  </div>

  <div id="characterBar">

    <h4 id="lift">Lift your hands! </h4>
    <div class="charBarImg">
      <img class="sidebarImg" src="./assets/PeopleOfEarth.png"> 
    </div>
    <p class="raiseCost">People of Earth: ${{opponentValue * .05}}</p>
    <div class="charBarImg">
      <img class="sidebarImg" src="./assets/YamchaRoshi.png">
    </div>
    <p class="raiseCost">Yamcha and Roshi: ${{opponentValue * .10}}</p>

    <div class="charBarImg">
      <img class="sidebarImg" src="./assets/PiccoloKrillin.png">
    </div>
     <p class="raiseCost">Piccolo and Krillin: ${{opponentValue * .15}}</p>

     <div class="charBarImg">
      <img class="sidebarImg" src="./assets/gotenTrunks.png">
    </div>
       <p class="raiseCost">Goten and Trunks: ${{opponentValue * .20}}</p>

    <div class="charBarImg">
      <img class="sidebarImg" src="./assets/Gohan.jpg">
    </div>
    <p class="raiseCost">Gohan: ${{opponentValue * .23}}</p>

     <div class="charBarImg">
      <img class="sidebarImg" src="./assets/Vegeta.png">
    </div>
          <p class="raiseCost">Vegeta: ${{opponentValue * .27}}</p>
    <!--placeholders for monetary contributions -->
    <input id="contributionField" type="number" placeholder="$ to contribute" ng-model="contribution">
    <input class="submission" type="submit" value="Raise Hands" ng-click="raiseHands(contribution)">

  </div>

<!-- PAYMENTS STUFF -->
  <div id ="payments" ng-contoller="paymentsCtrl">
    <p>STRIPE placeholder :)</p>
    <form stripe-form="stripeCallback">
    <input ng-model="name" placeholder="Full Name" />
      <input ng-model="number" placeholder="Card Number" payments-format="card" payments-validate="card" />
      <input ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry"/>
      <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc"/>
      <button type="submit">Submit</button>
    </form>

    <div ng-if="form.card.$invalid">Error: Invalid card number!</div>
    <div ng-if="form.expiry.$invalid">Error: Invalid expiration date!</div>
    <div ng-if="form.cvc.$invalid">Error: Invalid CVC!</div>

  </div>



  <div id="lowBar">
  </div>

  <div id="footerBar">
  </div>



  </body>


</html>