body{
  background-color: #EFEFEF;
  font-family: arial;
}

/*Top level content (navbar and above)*/
#headerBar{
  background-color: black;
}

#navBar{
  background-color: #424242;
  height: 20px;
  text-align: center;
}

.navBarItem{
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}


#appTitle{
  color: white;
  display: inline-block;
}

#topImg{
  display: inline-block;
}

/*Midlevel content */
#content{
  display: inline-block;
  width: 800px;
  height: 1500px;
}

.submission{
  background-color: #00CCD6;
}

/*Opponent area */
#opponentHead{
  background-color: #424242
}
#opponentContent{
  display: inline-block;
  margin-top: 60px; 
  margin-left: 70px;
}
#opponentBox{
  display: inline-block;
  color: black;
  background-color: white;
  border: solid black 10px;
  border-radius: 5%;
  width: 800px;
  height: 400px;
  overflow-y: auto;
  background-color:;
}

#opponentTitle{
  text-align: center;
  color: #00CCD6;
}
#opponentImg{
  width: 700px;
  margin-left: 40px;
}

.opponentText{
  text-align: center;
}


/*Comment Box*/



#commentBox{
  border: solid black;
  background-color: white;
  width: 400px;
  height: 100px;
  overflow-y: auto;
}

/*text areas throughout app*/
.textAreas{
  background-color: black;
  color: white;
}

/*Character bar content */

#lift{
  color: black;
}

.raiseCost{
  color: black;
}

#characterBar{
  text-align: center;
  display: inline-block;
  color: white;
  float: right;
  margin-top: 80px;
}
.charBarImg{
/*  border: solid black;*/
  margin: 0px;
/*  background-color: black;*/
/*  margin: 10px;*/
}
.sidebarImg{

  background-color: black;
  border: solid black;
  border-radius: 10%;
  height: 100px;
  width: 100px;
}

#contributionField{
  color: black;
}
