/* Light gray: #efefef; Dark gray: #333333;  Yellow: #FFD900; Crimson: #D35269; LightBlue: #00CCD6; */

body{
  background-color: #efefef;
  font-family: arial;
}

hr{
  display: inline-block;
  background-color: #FFD900;
  border-radius: 100%;
  height: 10px;
  width: 75%;
}

/*Top level content (navbar and above)*/
#headerBar{
  background-color: black;
}

#navBar{
  background-color: #424242;
  height: 20px;
  text-align: center;
}

.navBarItem{
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: white;
}


#appTitle{
  color: white;
  display: inline-block;
}

#topImg{
  display: inline-block;
}

/*Midlevel content */
#content{
  display: inline-block;
  width: 800px;
  height: 1500px;
}

.submission{
  background-color: #FFD900;
}

/*Opponent area */
#opponentHead{
 
  height: 150px;
}
#opponentContent{
  display: inline-block;
  margin-top: 60px; 
  margin-left: 70px;
}
#opponentBox{
  display: inline-block;
  color: black;
  background-color: #333333;
  border: solid black 10px;
  border-radius: 5%;
  width: 800px;
  height: 400px;
  overflow-y: auto;
  background-color:;
}

#opponentTitle{
  text-align: center;
  color: #49F5FE;
}
#opponentImg{
  width: 700px;
  margin-left: 40px;
}

.opponentText{
  text-align: center;
  color: white;
}


/*Comment Box*/



#commentBox{
  border: solid black;
  background-color: white;
  width: 400px;
  height: 100px;
  overflow-y: auto;
}

/*text areas throughout app*/
.textAreas{
  background-color: black;
  color: white;
}

/*Character bar content */

#lift{
  color: black;
}

.raiseCost{
  color: black;
}

#characterSection{
  display: inline-block;
  width: 250px;
  float: right;

}
#characterBar{
  width: 200px;
  border: solid black;
  border-radius: 2%;
  background-color: white;
  text-align: center;
  display: inline-block;
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
  float: right;
}
.charBarImg{
/*  border: solid black;*/
  margin: 0px;
/*  background-color: black;*/
/*  margin: 10px;*/
}
.sidebarImg{

  background-color: black;
  border: solid black;
  border-radius: 10%;
  height: 100px;
  width: 100px;
}

#contributionField{
  color: black;
  width: 125px;
}

#contribute{
  float: right;
}


#footerBar{
  height: 100px;
  background-color: black;
  clear: both;
}

#lowBar{
  background-color: #424242;
  height: 20px;
  text-align: center;
  clear:both;
}

#tempLogin{
  display: inline-block;
}